body{
    background-color: orange;
    height: 100%;
    font-family: "Open-Sans", sans-serif;
}

.container{
    color: white;
    width: 800px;
    margin: 300px auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

button {
    background-color: orange;
    color: white;
    border: solid 2px white;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 20px 10px;
    width: 200px;
    margin: 10px;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: orange;
}


